.container-card { 
    max-width: 100%; 
    margin: 1.5%; 
    cursor: pointer;
}

.container-card img {
    width: 280px;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    margin-left: 7%;
}

h1 {
    text-align: center;
    margin: 1%;
}

.container-input {
    margin-left: 8%;
}

.container-input input {
    width: 30%;
    height: 30px;
}