.container-card { 
    max-width: 450px; 
    margin: auto;
}

.container-card img {
    margin-left: 6%;
}

/* .wrap {
 width: 100%;
 display: flex;
 justify-content: center;
} */

h1 {
    text-align: center;
    margin: 1%;
}  

.container-id-name {
    text-align: center;
}

.container-types {
    display: flex;
}

.container-moves {
    display: flex;
    flex-wrap: wrap;
}

.container-btn {
    margin: 1% 0 0 59%;
}

